@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GenSenRounded"; /* 自定義字體名稱 */
  src: url("/font/GenSenRounded-B.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .bg-pink-radial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("/Background_web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: plus-lighter;
  }
  .wave-container {
    position: relative;
    width: 100%;
    background-color: #1b080a; /* 背景色 */
    overflow: hidden;
  }

  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  .custom-scroll-container {
    width: 100%;
    height: 3.375rem;
    margin: 1.5rem auto 0 auto;
    padding: 0 2rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .ipModelScroll {
    display: flex;
    height: 19.25rem;
    margin-top: 4rem;
    justify-content: space-between;
    overflow-x: auto;
    gap: 4.5rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .waveMoveIMG {
    width: 150%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    background-size: 700px auto;
    background-position: -50px 0;
    animation: waveAnimation 10s linear infinite;
  }

  @keyframes waveAnimation {
    0% {
      background-position: -50px 0;
    }
    100% {
      background-position: -700px 0;
    }
  }

  @media (max-width: 768px) {
    .waveMoveIMG {
      width: 200%;
      height: 500px;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: contain;
      background-size: 700px auto;
      background-position: -50px 0;
      animation: waveAnimation 10s linear infinite;
    }
    @keyframes waveAnimation {
      0% {
        background-position: -50px 0;
      }
      100% {
        background-position: -300px 0;
      }
    }
  }
}
